In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("activities.csv")
df.head()
#distance in meters
#moving_time in seconds
#average_speed in m/s

,Unnamed: 0,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,...,display_hide_heartrate_option,elev_high,elev_low,upload_id,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed
0,0,2,"{'id': 109418504, 'resource_state': 1}",Morning Ride,302757.0,37288,48018,1057.0,Ride,Ride,...,True,164.8,106.4,16376409958,16376409958,garmin_ping_465795835448,False,5,0,False
1,1,2,"{'id': 109418504, 'resource_state': 1}",Morning Ride,5655.5,1142,1625,45.0,Ride,Ride,...,False,159.0,130.8,16376328321,16376328321,garmin_ping_465793295258,False,0,0,False
2,2,2,"{'id': 109418504, 'resource_state': 1}",Evening Ride,37680.0,5070,5342,80.0,Ride,Ride,...,True,152.4,116.0,16376328378,16376328378,garmin_ping_465793265986,False,3,0,False
3,3,2,"{'id': 109418504, 'resource_state': 1}",Morning Ride,6526.6,1179,31380,40.0,Ride,Ride,...,False,160.0,138.0,16376324248,16376324248,garmin_ping_465793176594,False,0,0,False
4,4,2,"{'id': 109418504, 'resource_state': 1}",Morning Ride,7343.4,1591,33449,380.0,Ride,Ride,...,False,169.6,-272.2,16376324247,16376324247,garmin_ping_465793156440,False,0,0,False

In [7]:
df.columns

Index(['Unnamed: 0', 'resource_state', 'athlete', 'name', 'distance',
       'moving_time', 'elapsed_time', 'total_elevation_gain', 'type',
       'sport_type', 'workout_type', 'id', 'start_date', 'start_date_local',
       'timezone', 'utc_offset', 'location_city', 'location_state',
       'location_country', 'achievement_count', 'kudos_count', 'comment_count',
       'athlete_count', 'photo_count', 'map', 'trainer', 'commute', 'manual',
       'private', 'visibility', 'flagged', 'gear_id', 'start_latlng',
       'end_latlng', 'average_speed', 'max_speed', 'average_cadence',
       'average_temp', 'average_watts', 'max_watts', 'weighted_average_watts',
       'device_watts', 'kilojoules', 'has_heartrate', 'average_heartrate',
       'max_heartrate', 'heartrate_opt_out', 'display_hide_heartrate_option',
       'elev_high', 'elev_low', 'upload_id', 'upload_id_str', 'external_id',
       'from_accepted_tag', 'pr_count', 'total_photo_count', 'has_kudoed'],
      dtype='object')

In [5]:
df.groupby("type").agg({"distance": "sum"})

       distance
type
Ride  1001530.9