In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("activities.csv")
df.head()
df.sport_type.unique()

array(['Ride', 'Run', 'Swim', 'Walk', 'WeightTraining', 'Hike',
       'Snowboard', 'Badminton', 'Workout'], dtype=object)

In [7]:
df.columns

Index(['Unnamed: 0', 'resource_state', 'athlete', 'name', 'distance',
       'moving_time', 'elapsed_time', 'total_elevation_gain', 'type',
       'sport_type', 'workout_type', 'id', 'start_date', 'start_date_local',
       'timezone', 'utc_offset', 'location_city', 'location_state',
       'location_country', 'achievement_count', 'kudos_count', 'comment_count',
       'athlete_count', 'photo_count', 'map', 'trainer', 'commute', 'manual',
       'private', 'visibility', 'flagged', 'gear_id', 'start_latlng',
       'end_latlng', 'average_speed', 'max_speed', 'average_cadence',
       'average_temp', 'average_watts', 'max_watts', 'weighted_average_watts',
       'device_watts', 'kilojoules', 'has_heartrate', 'average_heartrate',
       'max_heartrate', 'heartrate_opt_out', 'display_hide_heartrate_option',
       'elev_high', 'elev_low', 'upload_id', 'upload_id_str', 'external_id',
       'from_accepted_tag', 'pr_count', 'total_photo_count', 'has_kudoed'],
      dtype='object')

In [5]:
df.groupby("type").agg({"distance": "sum"})

       distance
type
Ride  1001530.9